* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e9d7b4;
    color: #aa0000;
    font-size: 10px;
    font-family: sans-serif;
}

h3 {
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.wrapper {
    width: 100%;
}

.header {
    width: 100%;
    padding: 3px 0;
}

.logo {
    width: 660px;
    margin-left: auto;
    margin-right: auto;
}

#menu-responsive {
    position: absolute;
    right: 3%;
    top: 4%;
    font-size: 3rem;
    cursor: pointer;
}

.nav {
    width: 100%;
    padding: 0;
    background-color: #aa0000;
    text-align: center;
    border-top: 1px solid #751b1b;
    border-bottom: 1px solid #751b1b;
}

ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 1.3rem;
    height: 35px;
    line-height: 170%;
    display: inline-block;
}

ol a {
    color: #fff;
    text-decoration: none;
    display: block;
}

ol>li {
    float: left;
    width: 150px;
    height: 35px;
    border-right: 1px dashed #751b1b;
}

ol>li:first-child {
    border-left: 1px dashed #751b1b;
}

ol>li:hover {
    background-color: #c34f4f;
}

ol>li:hover>a {
    color: #451717;
}

ol>li>ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    height: 35px;
    display: none;
}

ol>li:hover>ul {
    display: block;
}

ol>li>ul>li {
    background-color: #cf6969;
    position: relative;
    border-top: 1px dashed #751b1b;
    z-index: 100;
}

ol>li>ul>li:hover {
    background-color: #c34f4f;
}

ol>li>ul>li:hover>a {
    color: #451717;
}

.sticky {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}

.content {
    width: 660px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    font-size: 1.1rem;
    margin-top: 20px;
}

.content img {
    float: right;
}

table {
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
    padding: 0px;
    border: 1px solid #d4af69;
    background-color: #ffeccf
}

td {
    text-align: left;
    padding: 0px 10px;
}

td.price {
    text-align: right;
}

td.pizzamenu {
    font-weight: bold;
    color: #aa0000;
    width: 370px;
}

td.ingredients {
    font-size: 0.8rem;
    color: #000000;
    font-style: italic;
}

.td_header {
    text-align: left;
    padding: 0px 10px;
    background-color: #aa0000;
    color: #ffffff;
}

.td_p_i {
    text-align: center;
}

.footer {
    text-align: center;
    font-size: 0.8rem;
}


/* Responsive*/

@media (min-width: 600px) {
    #menu-responsive {
        display: none;
    }
}

@media (max-width:601px) {
    .header
     {
        display: none;
    }
    .fa-bars {
        color: #000;
    }
    .nav {
        float:  none;
        width: 100%;
        padding: 0;
        background-color: #aa0000;
        text-align: center;
        border-top: 1px solid #751b1b;
        border-bottom: 1px solid #751b1b;
    }
    ol {float: none;
        padding: 0;
        margin: 0;
        list-style-type: none;
        font-size: 1.3rem;
        height: 35px;
        line-height: 170%;
    }
    ol a {
        color: #fff;
        text-decoration: none;
        display: block;
    }
    ol>li {
        float: none;
        width: 150px;
        height: 35px;
        border-right: 1px dashed #751b1b;
    }
    ol>li:first-child {
        border-left: 1px dashed #751b1b;
    }
    ol>li:hover {
        background-color: #cf6969;
    }
    ol>li:hover>a {
        color: #451717;
    }
    ol>li>ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        font-size: 1rem;
        height: 35px;
        display: none;
    }
    ol>li:hover>ul {
        display: block;
    }
    ol>li>ul>li {
        background-color: #cf6969;
        position: relative;
        border-top: 1px dashed #751b1b;
        z-index: 100;
    }
    ol>li>ul>li:hover {
        background-color: #c34f4f;
    }
    ol>li>ul>li:hover>a {
        color: #451717;
    }
    .sticky {
        width: 100%;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 100;
    }
    
    .content {
        width: 100%;
        margin: 3px;
        font-size: 1.3rem;
    }
    .content img {
        float: none;
        width: auto;
        display: block;
    }
    .pizzamenu {
        font-size: 1.1rem;
    }
}
